<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>
<body>
<h1>Contactanos</h1>
<form action="/contact/" method="post"> {%csrf_token%}
    <p>Asunto: <input type="text" name="subject"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Email: <textarea name="message" rows="15" cols="45"></textarea></p>
    <input type="submit" value="Enviar">
</form>
</body>
</html>
