<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactanos</title>

    {% if form.errors %}
    <p style="color: red">Campo requerido</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}

        <table>
            {{form.as_table}}
        </table>

        <input type="submit" value="Enviar">
    </form>
</head>
<body>

</body>
</html>
