<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados de la busqueda</title>
</head>
<body>
    <p>Estas buscando: <strong>{{query}}</strong> </p>

    {%if items %}
        <p> Articulos encontrados {{items|length}} </p>
        <ul>
            {%for item in items%}
            <li>El precio de la {{item.name}} es: {{item.price}}</li>
            {%endfor%}
        </ul>
    {%else%}
        <p>No se encuentra el item encontrado.</p>
    {%endif%}
</body>
</html>
